<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Greeting form</title>
    <meta http-equiv="content-type" content="text/html" charset="UTF-8">
</head>

<body>
<h1>User</h1>
<form action="#" th:action="@{/createUser}"th:object ="${createuser}" method="post">

    <p>Username: <input type="text" th:field = "*{username}"></p>

    <p>Password: <input type="text" th:field = "*{password}"></p>

    <p>Role: <input type="text" th:field = "*{role}"></p>

    <p>
        <button type="submit" name="action" value="createUser">Create</button>
        <input type="reset" value="Reset"/>
    </p>

    <a href="welcome">Back to main page</a>

</form>

</body>

</html>